.app {
  margin-top: 20px;
  text-align: center;
}

button {
  margin: 10px;
}

.paper {
  height: 100%;
  width: 100%;
  padding: 5px;
}

/* Loader symbol CSS clases */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
}

.white-square {
  background-color: whitesmoke;
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main-navigation {
  box-shadow: 0 8px 2px -2px rgba(0,0,0,.2);
}

.card-elevated {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}


.soft-emboss {
  font-size: 25px;
  font-weight: bolder;
  color: white;
}
.soft-emboss h3 {
  color: #ffffff;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.2),
               0px -5px 35px rgba(255,255,255,0.3);
}
.soft-emboss h4 {
  color: rgba(0,0,0,0.6);
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
               0px -5px 35px rgba(255,255,255,0.3);
}

.nav-link{
  color: white;
  font-size: large;
}
.nav-link:hover{
  color: wheat;
  text-decoration-line: underline;
}

.nav-right {
 margin-left: auto !important;
  line-height: 39px;
}

.gradient_line{ 
  margin: 0 0 50px 0;
  display: block;
  border: none;
  height: 1px;
  background: #0071B9;
  background: linear-gradient(to right, white, #0071B9, #26ABFF, #0071B9, white);
}

.ipl-progress-indicator.available {
  opacity: 0;
}

.ipl-progress-indicator {
  background-color: #f5f5f5;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 1;
  pointer-events: none;
  -webkit-transition: opacity cubic-bezier(.4, 0, .2, 1) 436ms;
  -moz-transition: opacity cubic-bezier(.4, 0, .2, 1) 436ms;
  transition: opacity cubic-bezier(.4, 0, .2, 1) 436ms;
  z-index: 9999;
}

.insp-logo-frame {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-animation: fadein 436ms;
  -moz-animation: fadein 436ms;
  animation: fadein 436ms;
  height: 98%;
}

.insp-logo-frame-img {
  width: 112px;
  height: 112px;
  -webkit-align-self: center;
  -moz-align-self: center;
  align-self: center;
  border-radius: 50%;
}

.ipl-progress-indicator-head {
  background-color: #c6dafc;
  height: 4px;
  overflow: hidden;
  position: relative;
}

.ipl-progress-indicator .first-indicator, .ipl-progress-indicator .second-indicator {
  background-color: #056D8B;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  transform-origin: left center;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  transform: scaleX(0);
}

.ipl-progress-indicator .first-indicator {
  -webkit-animation: first-indicator 2000ms linear infinite;
  -moz-animation: first-indicator 2000ms linear infinite;
  animation: first-indicator 2000ms linear infinite;
}

.ipl-progress-indicator .second-indicator {
  -webkit-animation: second-indicator 2000ms linear infinite;
  -moz-animation: second-indicator 2000ms linear infinite;
  animation: second-indicator 2000ms linear infinite;
}

.ipl-progress-indicator .insp-logo {
  animation: App-logo-spin infinite 20s linear;
  border-radius: 50%;
  -webkit-align-self: center;
  -moz-align-self: center;
  align-self: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  ;
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  ;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  ;
}

@keyframes first-indicator {
  0% {
    transform: translate(0%) scaleX(0);
  }
  25% {
    transform: translate(0%) scaleX(0.5);
  }
  50% {
    transform: translate(25%) scaleX(0.75);
  }
  75% {
    transform: translate(100%) scaleX(0);
  }
  100% {
    transform: translate(100%) scaleX(0);
  }
  ;
}

@keyframes second-indicator {
  0% {
    transform: translate(0%) scaleX(0);
  }
  60% {
    transform: translate(0%) scaleX(0);
  }
  80% {
    transform: translate(0%) scaleX(0.6);
  }
  100% {
    transform: translate(100%) scaleX(0.1);
  }
  ;
}


.spinner {
  margin: 10px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

$mainColor : #9C27B0;


//--------------------------
// Menu Bar
//--------------------------
.menubar{
  display: block;
  height: 60px;
  background-color: $mainColor;
  box-shadow: 2px 5px 5px 0 rgba(0,0,0,.12);
  text-align: center;
}
.menubar span{
  display: inline-block;
  position: absolute;
  color: #ffffff;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  font-size: 2.5em;
  line-height: 60px;
}

.menubar .links{
  display: inline-block;
  position: absolute;
  color: #ffffff;
  right:0%;
  line-height: 40px;
}
//--------------------------
// Hamburger Menu
//--------------------------
#hambmenu{
  position: relative;
  width: 30px;
  height: 45px;
  float: left;
  transition: .5s ease-in-out;
  cursor: pointer;
  
  & span{
    position: absolute;
    height: 5px;
    width: 100%;
    vertical-align: middle;
    margin: 20px 0 0 15px;
    background: white;
    border-radius: 8px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    //    padding: 
  }
}
.hambclicker{
  content: '';
  height: 48px;
  width: 55px;
  position: absolute;
  top: 8px;
  left: 8px;
  cursor: pointer;
  z-index: 9;
}
#hambmenu  span:nth-child(1){
  top: 0px}
#hambmenu  span:nth-child(2),#hambmenu  span:nth-child(3){
  top: 10px}
#hambmenu  span:nth-child(4){
  top: 20px}
#hambmenu.isopen span:nth-child(1){
  top: 18px;
  width: 0%;
  left: 50%;
  opacity: 0;}
#hambmenu.isopen span:nth-child(2){
  transform: rotate(45deg)}
#hambmenu.isopen span:nth-child(3){
  transform: rotate(-45deg)}
#hambmenu.isopen span:nth-child(4){
  top: 18px;
  width: 0%;
  left: 50%;
  opacity: 0;
}

//--------------------------
// Slide In Menu
//--------------------------
#menu{
  box-shadow:  4px 0 5px -2px #888;
  position: absolute;
  height: calc(100vh - 60px);
  width: 210px;
  background-color: white;
  transform: translateX(-100%);
  transition: transform 300ms;
  & ul{
    margin-top: 0px;
    padding: 0px;
    color: black;
    list-style-type: none;
    text-align: left;
  & li{
    padding: 30px 0 20px 20px;
    font-size: 1.5em;
    border-bottom: 1px solid rgba(0,0,0,.14);

  & li:last-child{
    border-bottom: none
  }}}}
.fa{
  color: black;
  padding-right: 8px;
}
li a{
  text-decoration: none;
  color: black;
}

#menu.isopen{
  z-index: 1000;
  transform: none;
}
.MuiRadio-colorSecondary{
  padding: 5px !important;
}
.MuiFormControlLabel-label{
  font-size: 15px !important;
}

.MuiRadio-colorSecondary.Mui-checked{
  color: $mainColor !important;
}

.MuiTab-textColorSecondary.Mui-selected{
  color: $mainColor !important;
}
.MuiTabs-indicator{
  height: 4px !important;
  background-color: $mainColor !important;
}

.MuiButtonBase-root {
  outline: none !important;
}

.MuiDialogTitle-root{
  background-color: $mainColor !important;
  color: #ffffff;
  padding: 5px 20px !important;
}
.MuiFab-secondary{
  background-color: $mainColor !important;
}
.MuiSwitch-colorPrimary.Mui-checked + .MuiSwitch-track{
  background-color: $mainColor !important;
}
.MuiSwitch-colorPrimary.Mui-checked{
  color: $mainColor !important;
}

.MuiTableHead-root{
  background-color: $mainColor;
  & th{
    color: #ffffff;
  }
}
@media screen and (max-width: 420px){
  .menubar span{
    font-size: 1.2em;}}



/* Loader symbol CSS clases- END */